/* EasySQL Admin Styles */

#easysql-test-result .success,
#easysql-connector-status .success {
    color: #46b450;
    font-weight: 600;
}

#easysql-test-result .error,
#easysql-connector-status .error {
    color: #dc3232;
    font-weight: 600;
}
